body {
	background: rgb(245, 245, 245);
}
 
svg {
	font: 10px sans-serif;
}
			 
			 
.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.y.axis path {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.brush .extent {
	stroke: #fff;
	fill-opacity: .125;
	shape-rendering: crispEdges;
}

.line {
	fill: none;
}

.tick line {
	opacity: 0.2;
}

rect.pane {
	cursor: move;
	fill: none;
	pointer-events: all;
}

#header {
	font-family: Lato;
	text-align: center;
	margin-top: 3%;
}

img {
	width: 10%;
	height: 10%;
}

#info {
            font-family: Lato;
            font-weight: 300;
            border: 0.5px solid steelblue;
            color: white;
        }
